@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

html,body,#root{
  height: 100%;
  width: 100%;
}

button{
  @apply text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2 me-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700;
}
input[type="file"]{
  @apply border-2 border-gray-200 rounded text-sm;
  &::file-selector-button{
    cursor: pointer;
    user-select: none;
    @apply bg-gray-300 p-2 mr-4;
  }
}